# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.FG Intern Demo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Top Secret\Work Related\Developer Case Study FG\FG Intern Demo\.idea\.idea.FG Intern Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
